body, h1, h2, p, ul, li, form, input, textarea, select {
    margin: 0;
    padding: 0;
    
}

.title{
    color: rgb(245, 245, 245);
}

.title:hover{
    color: rgba(214, 67, 67, 1);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2558d7;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    border: 5px solid red;
}

fieldset {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

legend {
    font-weight: bold;
    color: blue;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

label:hover{
    color: rgba(214, 67, 67, 1);
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

input[type="checkbox"],
input[type="radio"] {
    margin-right: 5px;
}

input[type="submit"],
input[type="reset"] {
    background-color: blue;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: blue;
}

span{
    color: red;
    font-size: 14px;
}
.error {
    color: red;
    font-size: 14px;
}

p {
    text-align: center;
    margin-top: 10px;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
